<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/form.css' />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    </form>
    <a href="/" class="back-page">戻る</a>
  </body>
</html>
