<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/form.css' />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <%- null_war %>
    <form action="/form" method="post">
        <p>メールアドレス</p>
        <input type="text" name="mail">
        <p>お問い合わせ内容</p>
        <!--<input type="text" row="3" name="message">-->
        <textarea name="message" rows="3"></textarea>
        <div>
          <input class="submit_btn" type="submit">
        </div>
    </form>
    <a href="/" class="back-page">戻る</a>
  </body>
</html>
