<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/form.css' />
  </head>
  <body>
    <form action="/form" method="post">
        <p>メールアドレス</p>
        <input type="text" name="mail">
        <p>お問い合わせ内容</p>
        <input type="text" name="message">
        <input type="submit">
    </form>
  </body>
</html>
