<!DOCTYPE html>
<html>
  <head>
    <title>graph</title>
    <link rel="stylesheet" href="/stylesheets/graph.css" />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    
<!--    <div id="chart"></div>
    <script src="https://cdn.jsdelivr.net/d3js/latest/d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/underscorejs/latest/underscore-min.js"></script>
    <script src="https://cdn.jsdelivr.net/taucharts/latest/tauCharts.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/taucharts/latest/tauCharts.min.css">
     <script type="text/javascript">

      var data = [
        {"月": "１月", "数量": 65},
        {"月": "２月", "数量": 59}
      ];
      
      var chart = new tauCharts.Chart({
        
          data: data,  //表示するデータ
          type: 'bar',  //グラフの種類
          x: '月',  //X軸の要素
          y: '数量',  //Y軸の要素
          color: '月'  //カラーの基準要素
      
      });
      chart.renderTo('#chart');
    // </script>    
-->
    <!-- <script type="text/javascript" src="../routes/chart.js"></script> -->
  </body>
</html>