* {
  margin: 0px;
  padding: 0px;
}

body {
  /* padding: 50px; */
  /* font: 2.3rem "Lucida Grande", Helvetica, Arial, sans-serif; */
  font: 2.5rem 'Roboto', 'Noto Sans JP', sans-serif;
  /* 開発中のみ */
  /* width: 400px; */
  width: 100%;
  max-width: 1024px;
  background-color: rgb(215, 241, 245);
  color: rgb(88, 88, 88);
}

header {
  background-color: #69F0AE;
  top: 0;
  height: 10rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  color: white;
}

input {
  width: 50%;
  height: 3.4rem;
  font-size: 100%;
  border-radius: 7px;
  border: 1px solid #ccc;
}

form {
  text-align: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

.submit_btn {
  width: 30%;
  height: 5rem;
  background: #69F0AE;
  color: #FFF;
  border: 1px solid #ccc;
  margin-top: 3rem;
}

.submit_btn:hover {
  background: #00E676;
}

label > input {
  display: none;
}

label {
  width: 50%;
  height: 5rem;
  font-size: 100%;
  background-color: #69F0AE;
  color: #FFF;
  border-radius: 7px;
}

.null_war {
  color: rgb(255, 100, 100);
}

.back-page {
  display: inline-block;
  position: relative;
  text-decoration: none; 
  margin-left: 80%;
  margin-top: 3rem;
  padding: 0.5rem 1rem;
  color:  rgb(88, 88, 88);
}

.back-page:before, .back-page:after {
  position: absolute;
  top: 0;
  content: '';
  width: 0.5rem;
  height: 100%;
  display: inline-block;
}

.back-page:before {
  border-left: solid 3px #00E676;
  border-top: solid 3px #00E676;
  border-bottom: solid 3px #00E676;
  left: 0;
}

.back-page:after {
  content: '';
  border-top: solid 3px #00E676;
  border-right: solid 3px #00E676;
  border-bottom: solid 3px #00E676;
  right: 0;
}